* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-color: #F0F8FF;
  --first-player: red;
  --second-player: orange;
  --field-width: 7;
  --field-height: 6;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1 0 auto;
}

footer {
  flex: 0 0 auto;
}

.qrcode.big {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(var(--field-size) * 100px + 50px);
}

.qrcode {
  width: 300px;
  margin: auto;
}

@media (max-width: 700px) {
  .hidden2 {
    display: none;
  }
}

.install {
  background-color: var(--main-color);
  text-align: center;
  font: bold 24px/100px Tahoma, sans-serif;
  height: 100px;
  width: 100%;
  cursor: pointer;
  border: 0;
  padding: 0;
}


img {
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 100px;
}


@media (max-width: 450px) {
  .hidden2 {
    display: none;
  }
}

.overlay {
  position: fixed;
  inset: 0;
  background: rgb(0 0 0 / 70%);
  transition: opacity 700ms;
  visibility: hidden;
  opacity: 0;
}

.overlay.show {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 80%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}

.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 400ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}

.popup .close:hover {
  color: var(--player-color);
}

.popup .content {
  max-height: 30%;
  overflow: auto;
}

.square {
  text-align: center;
  border: none;
  aspect-ratio: 1 / 1;

  /* Here pay attention to modify the default outer border properties, without border */
}

.field {
  display: grid;
  grid-template-columns: repeat(var(--field-width), 1fr);
  grid-template-rows: repeat(var(--field-height), 1fr);
  gap: 10px;
  border: 1px solid black;
  padding: 10px;
  max-width: 500px;
  cursor: pointer;
  background-color: royalblue;
  -webkit-tap-highlight-color: transparent !important;
  outline: none !important;
}

.cell {
  background-color: lightgray;
  border: 1px solid #ccc;
  padding: 10px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  max-width: 70px;
  pointer-events: none;
  text-align: center;
}

.first {
  background-color: var(--first-player);
}

.second {
  background-color: var(--second-player);
}

.empty {
  background-color: var(--main-color);
}

.disabled {
  cursor: not-allowed;
}

.hidden {
  display: none;
}
