* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-color: aliceblue;
  --first-player: red;
  --second-player: orange;
  --field-width: 7;
  --field-height: 6;
  --x-coeff: 0;
  --y-coeff: 0;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1 0 auto;
}

footer {
  flex: 0 0 auto;
}

.qrcode.big {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 20;
  width: 100%;
  max-width: 500px;
}

.qrcode {
  width: 300px;
  margin: auto;
}

@media (max-width: 700px) {
  .hidden2 {
    display: none;
  }
}

.install {
  background-color: var(--main-color);
  text-align: center;
  font: bold 24px/100px Tahoma, sans-serif;
  height: 100px;
  width: 100%;
  cursor: pointer;
  border: 0;
  padding: 0;
}


img {
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 100px;
}


@media (max-width: 450px) {
  .hidden2 {
    display: none;
  }
}

.overlay {
  position: fixed;
  inset: 0;
  background: rgb(0 0 0 / 70%);
  transition: opacity 700ms;
  visibility: hidden;
  z-index: 10;
  opacity: 0;
}

.overlay.show {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 80%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}

.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 400ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}

.popup .close:hover {
  color: var(--player-color);
}

.popup .content {
  max-height: 30%;
  overflow: auto;
}

.square {
  text-align: center;
  border: none;
  aspect-ratio: 1 / 1;

  /* Here pay attention to modify the default outer border properties, without border */
}

.app {
  max-width: 520px;
}

.field {
  display: grid;
  grid-template-columns: repeat(var(--field-width), 1fr);
  aspect-ratio: calc(var(--field-width) / var(--field-height));
  max-width: 490px;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent !important;
  outline: none !important;
}

.first {
  background-color: var(--first-player);
}

.second {
  background-color: var(--second-player);
}

.empty {
  background-color: var(--main-color);
}

.disabled {
  cursor: not-allowed;
}

.reload {
  cursor: pointer;
  margin-top: 10px;
  max-width: 500px;
  background-color: royalblue;
}

.back-col {
  display: flex;
  position:relative;
  flex-direction: column;
}

.hole {
  aspect-ratio: 1/1;
  position:relative;
  overflow:hidden;
}

.hole::after{
  content:'';
  pointer-events: none;
  position:absolute;
  left:50%;
  top: 50%;
  z-index: 3;
  transform: translate(-50%,-50%);
  border-radius:100%;
  width:50px;
  height: 50px;
  aspect-ratio: 1/1;
  box-shadow: 0px 0px 0px 2000px royalblue;
}

.ball {
  position: absolute;
  width: 100%;
  aspect-ratio: 1/1;
  z-index: 1;
  border-radius:50%;
  transition: transform 100ms linear;
  transform: translate(calc(100% * (var(--x-coeff))), calc(100% * (var(--y-coeff) - 1) - 20px));
}

.active {
  cursor: pointer;
}

.wait::after {
  content: "⌛";
  font-size: 2rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.buffer {
  min-height: 100px;
}

.ball-animate {
  transition: transform 300ms ease-in;
  transform: translate(calc(100% * (var(--x-coeff))), calc(100% * (var(--y-coeff) - 1)));
}

.panel-header {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  align-items: center;
  gap: 3px;
}

.relative {
  position: relative;
}

.control-panel {
  top: 10px;
  right: 10px;
  background-color: #323232;
  padding: 10px;
  border-radius: 5px;
  color: white;
  font-family: sans-serif;
  display: flex;
  z-index: 2;
  flex-direction: column;
  min-width: 320px;
  transition: min-height 0.3s ease, padding 0.3s ease, min-width 0.3s ease;
  gap: 5px;
}

.control-panel.minimized {
  min-width: auto;
  min-height: auto;
  gap: 0;
  display: block !important;
  margin-left: 0;
  padding: 5px;
  outline: none;
  outline-offset: 2px;
  border-radius: 3px;
}

.contrl-btn {
  font-family: Cambria, Georgia, serif;
  display: grid;
  place-items: center;
  width: 50px;
  height: 50px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  overflow: hidden;
  font-size: 2rem;
  padding: 0 3px;
}

.control-panel button:not(:disabled):active {
  background-color: #7a7a7a;
  transform: translateY(1px);
}

.control-panel button:not(:disabled):hover { background-color: #686868; }

.circled {
  display: grid;
  align-items: center;
  justify-content: center;
}

.circled::before {
  content: "";
  grid-area: 1 / 1;
  width: 35px;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  border: 2px solid white;
}

.circled::after {
  content: "?";
  grid-area: 1 / 1;
}


.hidden {
  display: none;
}
